.sidebar {
  border-left: 1px solid gray;

  .sidebar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    padding: 0 10px;
  }
}
